# Exclude minified JavaScript files from GitHub language statistics (JS Libraries / Frameworks) 
static/js/lib/*.min.js linguist-vendored=true
static/js/lib/*.min.js linguist-generated=true
*.min.js linguist-vendored=true
*.min.js linguist-generated=true
*.js linguist-vendored=true
*.js linguist-generated=true

# Exclude tests_report.html from GitHub language statistics
# check command : git check-attr linguist-vendored linguist-generated -- tests_report.html
tests_report.html linguist-vendored=true
tests_report.html linguist-generated=true


